/* Global Properties */

html {

scroll-behavior: smooth;

}


body {

background: #252525;

font-family:'Times New Roman', Times, serif;

}


/* Main Heading Font */

.m-heading {

font-family: "Roboto Slab", serif;

}


/* Navigation */

.navigation-link {

border: 2px solid transparent;

}


.navigation-link:hover {

text-decoration: none;

border-bottom: 2px solid #252525;

transition: 0.5s ease;

}
